// Place all the styles related to the public/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contain {
    width: 100%;    /* 横幅を割合で指定 */
    height: auto;  /* 高さは自動指定 */
}

    ul {
        max-width: 950px;
    }

    ul li {
        display: flex;
        align-items: center;
    }


    ul li .photo,
    ul li .txt {
        width: 100%;
        // box-sizing: border-box;
    }

//   写真を左右交互に

     ul li:nth-child(odd) {
        flex-direction: row-reverse;
        margin-bottom: 70px;
    }

      ul li:nth-child(even) {
        margin-bottom: 70px;
    }

    ul li:nth-child(odd) .txt {
        padding-right: -50px;
    }

    ul li:nth-child(even) .txt {
        padding-left: -50px;
    }





// .box {
//   display: flex;
//   padding:20px;
// }
// .box .img {
//   margin: 0 10px 0 0;
// }
// .box:nth-child(even) {
//   flex-direction: row-reverse;
// }
// .box:nth-child(even) .img {
//   margin: 0 0 0 20px;
// }

// .text-box{
//   width:calc(100% - 320px);
// }

/* unrelated css */

// .img {
//   width:300px;
//   height:auto;
//   background: #bbb;
//   display: flex;
//   font-size:36px;
//   color:#fff;
//   align-items:center;
//   justify-content:center;
// }



