
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>About<br/>Small Overseas</h3>
        <small class="uline">Small Overseasについて</small>
          <div class="col-11 about">
             <p class="mt-5 mr-0 pr-0">国内の海外風スポットを共有・閲覧できるサイトです。</p></br>
             会員登録をしなくても閲覧することはできますが</br>
             会員登録をすると以下の機能が使用できるようになり</br>さらに楽しんでいただくことができるので、登録することをおすすめしています。</br>
             ・ユーザーさん同士のフォロー</br>
             ・HOMEでフォローしている人/自分の投稿を閲覧</br>
             ・DM（お互いにフォローし合うとメッセージのやり取りができます）</br>
             ・お気に入りの投稿にいいね・コメントをする</br>
             ・人気投稿の月間ランキングの閲覧</br>
             <p class="mt-5 mr-0 pr-0">Small Overseasを通じて身近な場所で海外旅行に行った気分に</br>なれるようなスポットを見つけることができれば幸いです。</p>
          </div>
    </div>
      <div class="col-md-5 m-0 p-0">
        <div class="img02"></div>
      </div>
  </div>
</div>
