
<div class="container">
  <div class="row">
    <div class="col-6 m-0 p-0">

      <div id="top-info"></div>
      <div class="img01"></div>
      </div>

      <div class="col-4 text-center mt-5 offset-1">
        <p class="mt-3">MEMBERS<small class="text-muted">：会員の方</small></p>
      <%= link_to "LOGIN", log_in_path, class:"btn btn-outline-secondary d-block mt-3" %>
      <p class="mt-5">NOT MEMBERS<small class="text-muted">：会員登録がお済みでない方</small></p>
      <%= link_to "ABOUT", about_path, class:"btn btn-outline-secondary d-block" %>
      <%= link_to "SIGN UP", sign_up_path, class:"btn btn-outline-secondary d-block mt-5" %>
　　　<%= link_to "VIEW", spots_path, class:"btn btn-outline-secondary d-block mt-4" %>
      </div>

    </div>
  </div>
</div>


