/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "slick-theme";
@import "slick";





html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}


// TOP画面のslick

// TOP画面の画像
.img01{
  height: 87vh;
  width: 100%;
  // background-image: url(../../images/set1.png);
  background-image: image-url('top2.jpg');
  background-size:cover;
  opacity: 0.85;
}

// ロゴ
.logo img{
  width: 50%;
  height: auto;
}

.logo_link,
.logo_link:hover {
  text-decoration: none;
}

.img02{
  height: 80vh;
  width: 100%;
  background-image: image-url('about.jpg');
  background-size:cover;
  opacity: 0.85;
}


.uline {
	padding-bottom: 9px;
	border-bottom: 2px solid #000;
	display: inline-block;
}

.about{
  font-size: 90%;
}

.like-btn {
 color: #757575;
 text-decoration: none;
 }

.unlike-btn {
 color: #bb5a5a;
 }

 .photo .like-btn:hover,
 .photo .unlike-btn:hover{
  text-decoration: none;
}


.search_bar{
  font-size: 90%;
}


.weekly_ranking {
    background-color:#f0ece2;
    color:#596e79;
}

.user_name,
.follow,
.follower,
.overseas_area_search,
.follow_btn,
.fa-envelope{
    color:#596e79;
}

.user_name:hover,
.follow:hover,
.follower:hover,
.overseas_area_search:hover,
.follow_btn:hover,
.fa-envelope:hover{
    color:#c7b198;
    text-decoration: none;
}

// 通知機能
.fa-times-circle {
    color:#c7b198;
}

// アップデートボタン
.btn-update{
   background-color:#f0ece2;
   color:#596e79;
}

// ページネーション
.pagination {
  justify-content: center;
}

.pagination > li > a {
  border: none;
  color: #999;
}
.pagination > li > a:hover {
  color: #596e79;
  background-color: white;
}
.pagination > .active > .page-link {
  color: #596e79;
  background-color: #f0ece2;
}


.pagination > .active > a:hover {
  background-color: #f0ece2;
  color: #596e79;
}


.number {
    color:#535a3b;
    font-size: 115%;
    font-weight:500;
}


.nav-menu-text:hover{
    background-color:#f0ece2;
    color:#596e79;
}

.nav-menu-text{
    color:#58727f;
    font-weight:500;
}

.user_bar {
  background-color:#F6F0E8;
  height: 500px;
}

// 以下、フッターデザイン

.myfooter{
  border-top: 1px solid #dfd3c3;
  width: 100%;
  padding-top: 20px;
}

.copy_right{
  color: #596e79;
}

.contact{
  color: #212121;
}

#info_mail{
  color: #757575;
  text-decoration: none;
}

#map{
  height: 150px;
  width:270px;
}
