<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="text-center">Notification List</h4>
      <div class="border p-3">
        <small class="text-muted">（通知一覧）</small>
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
          <%= render notifications, notifications: @notifications %>
          <%= paginate @notifications %>
        <% else %>
          <p class="text-center">通知はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
