<!--devide文-->

<!--<p>Hello <%#= @resource.email %>!</p>-->

<!--<p>Someone has requested a link to change your password. You can do this through the link below.</p>-->

<!--<p><%#= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>-->

<!--<p>If you didn't request this, please ignore this email.</p>-->
<!--<p>Your password won't change until you access the link above and create a new one.</p>-->


<h4>パスワード再設定のご案内</h4>

<p class='mt-3'>Small Overseasをいつもご利用いただきまして、誠にありがとうございます。</p>

<p class='mt-2'>
  パスワード再設定についてご案内いたします。以下のURLから新しいパスワードを入力し、パスワードの再設定をお願いいたします。<br/>
  <%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token), class:'font-color-green' %>
</p>

<p class='mt-2'>
  ※このメールに覚えがない場合は、下記お問い合わせまでご連絡ください。
</p>

<p class='mt-2'>どうぞよろしくお願いいたします。</p>

<p class='mt-3'>
  Small Overseas<br/>
  ▼お問い合わせ<br/>
  small_overseas@example.com
</p>
